
.app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
   
}


.header_container{
    height: 80px;
    text-align: center;
    color: white;
    background-color: rgb(85, 88, 57);

}
.home_container{
    width: 100%;
flex: 1;
border: 1px black solid;
margin: 5px;
}
.footer_container{
    height: 80px;
    text-align: center;
    color: white;
    background-color: black;
}